%h1 Rails 3 Tutorial - Contact
%p
    Contact Ruby on Rails Tutorial about the sample app at the
    = link_to 'feedback page', "http://railstutorial.org/feedback"






-#
    <h1>Rails 3 Tutorial - Contact</h1>
    <p>
    Contact Ruby on Rails Tutorial about the sample app at the
    <a href="http://railstutorial.org/feedback">feedback page</a>.
    </p>