%h1 Rails 3 Tutorial - Help
%p
    Get help on Ruby on Rails 3 Tutorial at the
    = link_to 'Rails 3 Tutorial page', "http://railstutorial.org/book"
    sample application.




-#
    <h1>Rails 3 Tutorial - Help</h1>
    <p>
    Get help on Ruby on Rails 3 Tutorial at the
    <a href="http://railstutorial.org/book">Rails 3 Tutorial page</a>
    sample application.
    </p>